bibliography{
    display: block;
    border: thin solid black;
    border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 0.5em gray;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.5em;
    margin: 1em auto;
}
lists {
    display: table;
    counter-reset: list-number;
    width: 100%;
    color: red;
    letter-spacing: 0.1em;
}
list{
    display: table-row;
}
 author::before{
    content: "["counter(list-number)"]";
    counter-increment: list-number;
}
title {
    font-style: italic;    
}
ed::after{
    content: ".";
}
author::after {
    content: ".";
}
title::after {
    content: ".";
}
publisher::after {
    content: ",";
}
year::after {
    content: ".";
}
isbn::before {
    content: "ISBN:";
}
isbn::after {
    content: ".";
}
link{
    font: monospace;
    color: blue;
}
link:hover{
    text-decoration-line: underline;
}
url::before {
    content:"URL:";
    color: red;
}

